
body {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    background: #393d3f;
}

#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*background: url(/app/img/background.jpg) no-repeat top center fixed;
    background-size: cover;
    overflow: auto;
    -webkit-overflow-scrolling: touch;*/
}
/*
.navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
}*/

h1 {
    color: white;
}

#content-form {
    
}

.programme-date.form-horizontal .control-group {
    margin-bottom: 0;
}

.programme-date.form-horizontal .control-label {
    color: white;
    width: 65px;
}

.programme-date.form-horizontal .controls {
    margin-left: 10px;
}

form {
    padding: 20px;
    background: #ece4d9;    
    -webkit-border-radius: 4px;
}

legend {
    margin-bottom: 5px;
    border-bottom: 2px #d3c8b8 solid;
}

/* channel list */
#channel-list-wrapper {
    padding: 0 5px;
    background: #ef7b47;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;
    height: 30px;
}
#channel-list {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#channel-list::-webkit-scrollbar { 
    display: none; 
}

#channel-list ul {
    margin: 0;
    padding: 0;
}

#channel-list ul li {
    list-style-type: none;
    float: left;
}

#channel-list ul li a {
    padding: 5px 15px;
    display: block;
    color: white;
}

#channel-list ul li a:hover,
#channel-list ul li a.active {
    background: #d26433;
    color: #67141B;
}

/* programme date */
#programme-date-wrapper {
    padding: 0 5px;
    background: #7accc8;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
}

#programme-date {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#programme-date ul {
    width: 450px;
    margin: 0;
}

#programme-date ul li {
    list-style-type: none;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

#programme-date ul li a {
    padding: 5px 15px;
    display: block;
    color: white;
    cursor: pointer;
}

#programme-date ul li a:hover,
#programme-date ul li a.active {
    background: #64b7b3;
    color: #67141B;
}

#programme-date::-webkit-scrollbar { 
    display: none; 
}

/* guide */
#guide-wrapper {
    padding: 0 5px;
    background: #7accc8;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    color: white;
    margin-bottom: 5px;
}
#guide {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#guide ul {
    width: 8640px;
    margin: 0;
}

#guide ul li {
    list-style-type: none;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

#guide ul.time li {
    width: 172px;
    padding: 10px 0 10px 5px;
    border-left: 3px #64b7b3 solid;
}
#guide ul.show {
    border-bottom: 1px solid #BFB093;
    padding: 2px 0;
    color: black;
}
#guide ul.show li {
    background: whitesmoke;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    height: 100px;
}

#guide ul.show li span {
    font-weight: bold;
}

#guide ul.content {
    border-bottom: 1px solid #BFB093;
    padding: 2px 0;
    color: black;
}

#guide ul.content li {
    background: greenyellow;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

#guide ul.content li span {
    font-weight: bold;
}

#guide::-webkit-scrollbar { 
    display: none; 
}

/* show list
#show-list {
    background: #2d585a;
    -webkit-border-radius: 4px;
    color: white;
    margin-bottom: 20px;
}

#show-list ul {
    margin: 0;
    padding: 0;
}

#show-list ul li {
    list-style-type: none;
}

#show-list ul li a {
    padding: 5px 15px;
    display: block;
    color: white;
    border-bottom: 1px #93c1c2 solid;
}

#show-list ul li:first-child a {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}

#show-list ul li:last-child a {
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom: none;

}

#show-list ul li a:hover {
    background: white;
    color: #2d585a;
}


#show-list ul li h5 {
    font-size: 16px;
    line-height: 4px;
    padding-left: 8px;
    float: right;
}

#show-list ul li .start {
    background: #D44D45;
    border: 1px solid #B8413A;
    float: left;
    padding: 2px 6px;
    -webkit-border-radius: 4px;
}

#show-list ul li .duration {
    float: left;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 21px;
}

#content-list {
    background: #2d585a;
    -webkit-border-radius: 4px;
    color: white;
    margin-bottom: 20px;
}

#content-list ul {
    margin: 0;
    padding: 0;
}

#content-list ul li {
    list-style-type: none;
}

#content-list ul li a {
    padding: 5px 15px;
    display: block;
    color: white;
    border-bottom: 1px #93c1c2 solid;
}

#content-list ul li:first-child a {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}

#content-list ul li:last-child a {
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom: none;

}

#content-list ul li a:hover {
    background: white;
    color: #2d585a;
}

#content-list ul li h5 {
    font-size: 16px;
    line-height: 4px;
    padding-left: 8px;
    float: right;
}

#content-list ul li button {
    float: right;
    margin-left: 10px;
}

#content-list ul li .start {
    background: #D44D45;
    border: 1px solid #B8413A;
    float: left;
    padding: 2px 6px;
    -webkit-border-radius: 4px;
}

#content-list ul li .duration {
    float: left;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 21px;
}

@media (max-width: 400px) {
    #show-list ul li .time {
        width: 50px;
    }
}
*/
select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    width: auto;
}

select.btn-mini {
    height: 19px;
    line-height: 19px;
    padding-right: 19px;
    margin-top: -2px;
}

select.btn-mini + .caret {
    margin-left: -15px;
    margin-top: 10px;
}

@media (max-width: 767px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
}