
body {
}

#wrapper {
    margin: 10px 20px;
}

#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(/app/img/background.jpg) no-repeat top center fixed;
    background-size: cover;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
}

#content {
    padding: 20px 20px 10px 20px;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 4px;
    margin-bottom: 20px;
}

#content ul {
    margin: 0;
    padding: 0;
}

#content ul li {
    list-style-type: none;
}

#content ul li a {
    padding: 5px 15px;
    display: block;
}

#content ul li h5 {
    font-size: 16px;
    line-height: 4px;
    padding-left: 8px;
    float: right;
}

#content ul li .start {
    background: #D44D45;
    border: 1px solid #B8413A;
    float: left;
    padding: 2px 6px;
    -webkit-border-radius: 4px;
}

#content ul li .duration {
    float: left;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 21px;
}

.navbar .navbar-inner {
    background: rgba(0, 0, 0, 0.95);
    padding: 0 5px;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
}

/* navbar */



.loader {
    background-image: url(/shared/img/loader.gif);
    height: 35px;
    background-repeat: no-repeat;
    background-position: center 0;
}

#closup {
    margin-top: 10px;
    background: rgba(146,190,199,0.8);
    padding: 3px 10px;
    font-size: 11px;
    border-radius: 4px;
    color: white;
}

/* bookmarks */
#bookmarks {
}

#bookmarks h3 a {
    float: right;
}

#bookmarks ul {
    background-color: rgba(219, 88, 102, .79);
    border-radius: 4px;
    color: white;
    padding: 10px;
}
#bookmarks li span.remove {
    cursor: pointer;
    position: absolute;
    background-color: rgba(255,0,0,0.2);
    margin-left: -150px;
    display: none;
    width: 150px;
    height: 100px;
    background-image: url(/app/img/bin.png);
    background-position: 68px 35px;
    background-repeat: no-repeat;
}

#bookmarks ul {
    margin: 0;
}

#bookmarks li {
    list-style-type: none;
}
#bookmarks li.tile {
    margin: 0;
    float: left;
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
}

#bookmarks li.tile a {
    width: 150px;
    height: 100px;
    display: block;
    margin: 0 auto;
    color: #333333;
}

#bookmarks li.tile img.thumb {
    width: 100%;
    float: left;
}

#bookmarks li.tile .overlay {
    float: left;
    color: black;
    background: rgba(183, 200, 225, 0.85);
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease-in-out;
    opacity: 0;
    margin-top: -100px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

#bookmarks li.tile a:hover .overlay {
    opacity: 1;
}

#bookmarks li.tile .overlay span {
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    font-size: 12px;
}


@media (max-width: 350px) {
    #bookmarks li.tile {
        height: 80px;
    }
    #bookmarks li.tile a {
        height: 80px;
        width: 120px;
    }
    #bookmarks li.tile span.remove {
        margin-left: -120px;
        width: 120px;
        height: 80px;
        background-position: 51px 27px;
    }
    
    #bookmarks li.tile .overlay {
        margin-top: -80px;
    }
}

/* tablet portrait */
@media (max-width: 768px) { 
    #bookmarks li.tile {
        height: 80px;
    }
    #bookmarks li.tile a {
        height: 80px;
        width: 120px;
    }
    #bookmarks li.tile span.remove {
        margin-left: -120px;
        width: 120px;
        height: 80px;
        background-position: 51px 27px;
    }
    
    #bookmarks li.tile .overlay {
        margin-top: -80px;
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    #bookmarks li.tile {
        width: 33%;
    }
}

@media (max-height: 480px) {
    .modal-body {
        max-height: 180px;
    }
}

@media (max-height: 320px) {
    .modal-body {
        max-height: 90px;
    }
}