/* icons */
.gicon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: text-top;
    background-image: url("/shared/img/glyph-icons.png");
    background-repeat: no-repeat;
    -webkit-background-size: 80px 40px;
    margin-top: 1px;    
}

.gicon-ws-signal-on {

}

.gicon-ws-signal-off {
    background-position: 0 -20px;
}

.gicon-tv-signal-on {
    background-position: -20px 0;
}

.gicon-tv-signal-off {
    background-position: -20px -20px;
}

.gicon-play {
    background-position: -40px 0;
}

.gicon-pause {
    background-position: -40px -20px;
}

.gicon-settings {
    background-position: -60px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .gicon {
        background-image: url("/shared/img/glyph-icons@2x.png");  
    }
}