/* icons */
.gicon {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: text-top;
    background-image: url("/shared/img/glyph-icons.png");
    background-repeat: no-repeat;
    -webkit-background-size: 100px 50px;
    margin-top: 1px;    
}

.gicon-ws-signal-on {

}

.gicon-ws-signal-off {
    background-position: 0 -25px;
}

.gicon-tv-signal-on {
    background-position: -25px 0;
}

.gicon-tv-signal-off {
    background-position: -25px -25px;
}

.gicon-play {
    background-position: -50px 0;
}

.gicon-pause {
    background-position: -50px -25px;
}

.gicon-settings {
    background-position: -75px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .gicon {
        background-image: url("/shared/img/glyph-icons@2x.png");  
    }
}