    <fieldset>
    <input type="hidden" name="type" value="content" />
    <input type="hidden" name="category" value="text" />
    
    <div class="form-actions">
        <button value="submit" class="btn btn-primary" type="submit">Speichern</button>
    </div>
    </fieldset>
</form>