    <fieldset>
    <legend>Text hinzufügen</legend>

    <div class="control-group">
        <label class="control-label" for="text">Text</label>
        <div class="controls"><textarea name="text" id="text" required rows="5" class="input-block-level"></textarea>
    </div>
    </fieldset>