
body {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    /*background: url(/app/resources/img/stock-photo-20415277-watching-television.jpg) no-repeat center center fixed;*/
   /* background: url(/app/resources/img/background.jpg) no-repeat top center fixed;
    
    -webkit-background-size: cover;
    background-size: cover;*/
}

#wrapper {
    margin: 10px 30px;
}

#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(/app/resources/img/background.jpg) no-repeat top center fixed;
    background-size: cover;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
}

#content-list {
    background-color: rgba(255, 255, 255, .95);
    margin-bottom: 20px;
}

#content-list ul {
    margin: 0;
    padding: 0;
}

#content-list ul li {
    list-style-type: none;
}

#content-list ul li a {
    padding: 5px 15px;
    display: block;
}

#content-list ul li h5 {
    font-size: 16px;
    line-height: 4px;
    padding-left: 8px;
    float: right;
}

#content-list ul li .start {
    background: #D44D45;
    border: 1px solid #B8413A;
    float: left;
    padding: 2px 6px;
    -webkit-border-radius: 4px;
}

#content-list ul li .duration {
    float: left;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 21px;
}

.navbar .navbar-inner {
    background: rgba(0, 0, 0, 0.95);
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
}

/* navbar */
@media (max-height: 480px) {
    .modal-body {
        max-height: 180px;
    }
}

@media (max-height: 320px) {
    .modal-body {
        max-height: 90px;
    }
}

.loader {
    background-image: url(/shared/resources/img/loader.gif);
    height: 35px;
    background-repeat: no-repeat;
    background-position: center 0;
}