{{#data}}
    <p><b style="font-size: 20px">{{title}}</b></p>
    {{{text}}}
    <p><a href="#" class="button" data-action="bookmark">Auf Merkliste setzen</a></p>
{{/data}}
{{^data}}
    <p>Keine Zusatzinhalte verfügbar</p>
{{/data}}