<ul class="clearfix content">
{{#contents}}
    {{#formatted}}<li style="width: {{width}}px; margin-left: {{margin}}px"><span>{{start}}</span>{{/formatted}}{{text}}{{#formatted}}</li>{{/formatted}}
{{/contents}}
</ul>