<ul class="clearfix show">
{{#shows}}
    {{#formatted}}<li style="width: {{width}}px; margin-left: {{margin}}px"><span>{{start}}</span>{{/formatted}}{{title}}{{#formatted}}</li>{{/formatted}}
{{/shows}}
</ul>