<ul>
{{#contents}}
    <li>
        <a href="#" class="clearfix">
            <h5>{{text}}</h5>
            <div class="time">
                <div class="start">09:50</div>
                <div class="duration">45min</div>
            </div>
        </a>
    </li>
{{/contents}}
{{^contents}}
    <li><a>No content :(</a></li>
{{/contents}}
</ul>