<ul>
{{#contents}}
    <li>
        <a href="#" class="clearfix">
            <h5>{{text}}</h5>
            <div class="time">
                {{#formatted}}
                <div class="start">{{start}}</div>
                <div class="duration">{{duration}}min</div>
                {{/formatted}}
            </div>
        </a>
    </li>
{{/contents}}
{{^contents}}
    <li><a>No content :(</a></li>
{{/contents}}
</ul>