<ul>
{{#contents}}
    <li>
        <a href="#" class="clearfix">
            <h5>{{text}}</h5>
            <div class="time">
                {{#formatted}}
                <div class="start">{{start}}</div>
                <div class="duration">{{duration}}min</div>
                {{/formatted}}
            </div>
        </a>
    </li>
{{/contents}}
{{^contents}}
    <!--<li><a>No content :(</a></li>-->
    <li style="padding: 20px">
        <p><b style="font-size: 20px">VW Beetle</b></p>
        <p>Nichts gegen Blumen. Doch was dem Käfer seine Vase war, das ist dem Beetle
           sein Motor. Nicht nur, dass er heute sportlicher aussieht – er fährt sich auch so!
           Zum kraftvollen Sound von bis zu 200 PS*. (vw.de)</p>
<p>Nichts gegen Blumen. Doch was dem Käfer seine Vase war, das ist dem Beetle
           sein Motor. Nicht nur, dass er heute sportlicher aussieht – er fährt sich auch so!
           Zum kraftvollen Sound von bis zu 200 PS*. (vw.de)</p>
<p>Nichts gegen Blumen. Doch was dem Käfer seine Vase war, das ist dem Beetle
           sein Motor. Nicht nur, dass er heute sportlicher aussieht – er fährt sich auch so!
           Zum kraftvollen Sound von bis zu 200 PS*. (vw.de)</p>
<p>Nichts gegen Blumen. Doch was dem Käfer seine Vase war, das ist dem Beetle
           sein Motor. Nicht nur, dass er heute sportlicher aussieht – er fährt sich auch so!
           Zum kraftvollen Sound von bis zu 200 PS*. (vw.de)</p>
        <img src="/app/resources/img/beetle.jpg" style="max-height: 400px" />
        <br />
        <a href="">Mehr Details zum Auto</a>
        <a href="" class="button">Auf Merkliste setzen</a>
    </li>
{{/contents}}
</ul>